:root {
    --background: #f3f3f3;
    --dark-green: #8AA093;
    --darker-green: #62776b;
    --blue: #7796aa;
    --tan: #e8c4aa;
    --light-tan: #f2e2de;
    --light-green: #bed5c5;
    --dk-pink: #aa95a6;
    --dk-grey: #222;
    --darkest-green: #333D36;

    --font: "Nunito", sans-serif;
}

/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* START STYLES */
body {
    font-family: var(--font);
    display: grid;
    grid-template-rows: 100px 1fr 80px;
    height: 100vh;
    color: var(--dk-grey);
    background: var(--background);
}

header {
    /* TO DO change header background color */
    background-color: var(--light-green);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0 1em;
}

a {
    color: var(--darkest-green);
    text-decoration: none;
}

a:hover {
    color: var(--dk-grey);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 144px;
    max-height: 72px;
}

nav a {
    font-size: 1rem;
    text-decoration: none;
    padding: 1rem;
    color: var(--darkest-green);
}


.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.card {
    width: 30%;
    height: 200px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: max-content 1fr;
    border-radius: 1rem;
    justify-items: start;
    align-items: baseline;
    padding: 0.5rem;
}

.star {
    grid-column: 1/-1;
    width: 40px;
    justify-self: end;
    color: var(--background);
}


.star:hover {
    color: var(--dk-pink);
}

.card-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    width: 100%;
}

.card img {
    width: 100px;
}

.card p {
    font-size: 1.25rem;
}

img[alt="head shaking vertically"],
img[alt="head shaking horizontally"]{
    width: 145px;
    margin-left: -16px;
}

img[alt="head shaking vertically"] + p,
img[alt="head shaking horizontally"] + p {
    margin-left: -28px;
}

#custom-card-creation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#custom-card-creation h2 {
    grid-column: 1/-1;
}

.active {
    background-color: red;
}

.errorInput {
    border: 3px solid red;
}

#all-emojis {
    max-width: 300px;
    max-height: 300px;
    overflow-y: scroll;
}

.emoji {
    display: flex;
    align-items: center;
}

.emoji img {
    width: 100px;
    height: 100px;
}

.emoji img[alt="head shaking vertically"],
.emoji img[alt="head shaking horizontally"]{
    height: 125px;
    width: 145px;
    margin-left: -8%;
}

.emoji img[alt="head shaking vertically"] + p,
.emoji img[alt="head shaking horizontally"] + p {
    margin-left: -20px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

/* giant screen card size */
@media screen and (min-width: 1500px) {
    .card {
        width: 20%;
    }
}

/* tablet styles */
@media screen and (max-width: 1000px)  {

    .card {
        width: 40%;
    }
}

/* mobile styles */
@media screen and (max-width: 750px)  {
    body {
        background-color: blue;
    }
    .card {
        width: 100%;
    }
}