@import 'tailwindcss';

@theme {
    --color-text: #d0d0d0;
    --color-background: #333;
    --color-primary: #6a8a72;
    --color-primary-alt: #4b5c49;
    --color-secondary: #5f7d8a;
    --color-accent: #a07f8e;
    --color-card-back: #3e3e3e;
}