@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@layer theme, base, mui, components, utilities;
@import "tailwindcss";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-nunito: "Nunito", sans-serif;
  --text-base: 20px;

  /* 212121 */
  --color-text: oklch(0.2478 0 0);
  
  /* f2f2f2 */
  --color-background: oklch(0.9612 0 0); 

  
  /* 8aa093 */
  --color-primary: oklch(0.6848 0.0311 159.55); 
  
  /* 333d36 */
  --color-primary-alt: oklch(0.3484 0.0179 154.85); 
  
  /* a1bac4 */
  --color-secondary: oklch(0.7733 0.0309 223.89);
  
  /* bdadba */
  --color-accent: oklch(0.7651 0.0256 332.03);

  /* d3d3d3 */
  --color-card-back: oklch(0.8669 0 0);
}

@layer base {
  [data-theme="dark"] {
    /* d0d0d0 */
    --color-text: oklch(0.8576 0 0);
    
    /* 333 */
    --color-background: oklch(0.3211 0 0);
    
    /* 6a8a72 */
    --color-primary: oklch(0.6019 0.0512 152.33);
    
    /* 4b5c49 */
    --color-primary-alt: oklch(0.4545 0.0369 142.15);
    
    /* 5f7d8a */
    --color-secondary: oklch(0.5713 0.0397 226.35);
    
    /* a07f8e */
    --color-accent: oklch(0.6325 0.0456 349.44);
    
    /* 3e3e3e */
    --color-card-back: oklch(0.3639 0 0);
  }
}
